
<div class="favorites">
    <h2>Favorites</h2>
    <div class="scrollbox">
        <div class="scroll">
            {% for game in fav_games %}
                <div class="product">
                    <div class="inner_prod">
                        <a href="/games/{{ game.id }}" >
                            <img class="prod_img" src="{{ game.gameimage_set.first.image}}" alt="Picture of product">
                            <p>{{ game.name }} </p>
                        </a>
                    </div>
                </div>
            {% endfor %}
            {% for console in fav_consoles %}
                <div class="product">
                    <div class="inner_prod">
                        <a href="/consoles/{{ console.id }}">
                            <img class="prod_img" src="{{ console.consoleimage_set.first.image}}" alt="Picture of product">
                            <p>{{ console.name }} </p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="search_history">
    <h2>Search history</h2>
    <div class="scrollbox">
        <div class="scroll" id="search_history">
            {% for item in game_history %}
                <div class="search_result" >
                    <p class="hide" id="hidden" value="consoles">games</p>
                    <a class="history" href="/games" >
                        <h4 class="search_value" >{{ item }} </h4>
                    </a>
                </div>
            {% endfor %}
            {% for item in console_history %}
                <div class="search_result" >
                    <p class="hide" id="hidden" value="consoles">consoles</p>
                        <a href="/consoles" >
                            <h4 class="search_value" >{{ item }} </h4>
                        </a>
                </div>
            {% endfor %}
        </div>
    </div>

</div>




