<div class="favorites">
            <h2>Favorites</h2>
            <div class="scrollbox">
                <div class="scroll">
                {% for fav in favorites %}
                    <div class="product">
                        <img class="prod_img" src="{{ fav.game_id.gameimage_set.first.image}}" alt="Picture of product">
                        <p>{{ fav.game_id.name }} </p>
                        <img class="prod_img" src="{{ fav.console_id.consoleimage_set.first.image}}" alt="Picture of product">
                        <p>{{ fav.console_id.name }} </p>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>

