<div class="favorites">
            <h2>Favorites</h2>
            <div class="scroll">
                {% for fav in favorites %}
                    <div class="product">
                        <img src="" alt="Picture of product">
                        <p>{{ fav.name }} </p>
                    </div>
                {% endfor %}
            </div>
        </div>
<div class="viewed">
            <h2>Recently viewed</h2>
            <div class="scroll">
                {% for view in viewed %}
                    <div class="product">
                        <img src="" alt="Picture of product">
                        <p>{{ view.name }} </p>
                    </div>
                {% endfor %}
            </div>
        </div>