{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account/account.css' %}">
    <div class="container">
        <div class="account">
            <div class="acc">
                <h1>Account</h1>
                <img class="profile_pic" src="{{ account.accountimage_set.first.image }}" alt="Profile picture">
            </div>

           <div class="accinfo">
               <form class="form" action="{% url 'edit-index' account.id %}" method="post">
                {% csrf_token %}
                {{ form }}
                {{ img_form }}
                <button class="small_button" type="submit">Save</button>
                </form>
               <form class="form" action="{% url 'account-id-index' account.id %}">
                <button class="small_button" type="submit">Cancel</button>
               </form>
            </div>
        </div>
        {% include 'account/account_extra.html' %}
    </div>
{% endblock %}