{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account/account.css' %}">
    <div class="container">
        <div class="account">
            <div class="acc">
                <h1>Account</h1>
                <img src="" alt="Profile picture">
            </div>
            <div class="accinfo">
                <input type="text" class="edit_info" placeholder="Name">
                <input type="text" class="edit_info" placeholder="Email">
                <input type="text" class="edit_info" placeholder="Png picture">
                <form action="{% url 'account-index' %}">
                    <button class="small_button" type="submit">Save</button>
                </form>
            </div>
        </div>
        {% include 'account/account_extra.html' %}
    </div>
{% endblock %}