{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account/account.css' %}">
    <div class="container">
        <div class="account">
            {% include 'account/account.html' %}
            <form action="{% url 'prev-index' %}">
                    <input class="button" type="submit" value="Previous orders"/>
            </form>
        </div>
        {% include 'account/account_extra.html' %}
    </div>
{% endblock %}