{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account/account.css' %}">
    <div class="container">
        <div class="account">
            {% include 'account/account.html' %}
            <form action="{% url 'account-index' %}">
                    <input class="button" type="submit" value="Back to profile"/>
            </form>
        </div>
        <div class="prevorders">
            <h2>Previous orders</h2>
            <div class="scroll">
                {% for o in orders %}
                    <div class="product">
                        <img src="" alt="Pic of order">
                        <p>{{ o.name }}</p>
                        <p>{{ o.price }}$</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
