{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account/account.css' %}">
    <div class="container">
        <div class="account">
            {% include 'account/account.html' %}
            <div class="button_container">
                <form action="{% url 'account-index' account.id %}">
                    <button class="button" type="submit">Back to profile</button>
                </form>
            </div>

        </div>
        <div class="prevorders">
            <h2>Previous orders</h2>
            <div class="scrollbox">
                <div class="scroll">
                {% for o in orders %}
                    <div class="product">
                        <img src="" alt="Pic of order">
                        <p>{{ o.name }}</p>
                        <p>{{ o.price }}$</p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
