{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body onload="displayInCheckout()">
        <form class="form form-horizontal" method="post" action="{% url 'confirmation-index' %}">
            {% csrf_token %}
            {{ form }}
            <button type="submit" id="next_button" class="next_button"> Next</button>
            <!--<input type="submit" id="next_button" class="next_button" value="Next"/>-->
        </form>

        <div class="buttons" id="buttons">
            <form action="{% url 'cart-index' %}">
                <button type="submit" id="back_button" class="back_button"> Back</button>
            </form>


    {#        <form action="{% url 'confirmation-index' %}" >#}
    {#            <button type="submit" id="next_button" class="next_button"> Next</button>#}
    {#        </form>#}


        </div>
    </body>


    <script src="{%static 'js/localStorage.js' %}"></script>
    <script src="{%static 'js/countrypicker.js' %}"></script>

{% endblock %}


{#    <link rel="stylesheet" href="{%static 'css/cart/checkoutt.css' %}"/>#}
{#    <h1>Checkout</h1>#}
{#    <p>Step 1 out of 2</p>#}
{#    <div class="checkout_info">#}
{#        <div class="shipping_info">#}
{#            <h3>Shipping information</h3>#}
{#            <div class="captain-countrypicker">#}
{#                <select class="selectpicker">#}
{#                    {% for country in countries %}#}
{#                        <option value="{{ country.code }}">{{ country.name }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#            </div>#}
{#            <div class = "input-container">#}
{#                <input class="form-control" type="text" id="City" placeholder="City">#}
{#                <input class="form-control" type="text" id="Streetname" placeholder="Streetname">#}
{#                <input class="form-control" type="text" id="Housenumber" placeholder="Housenumber">#}
{#                <input class="form-control" type="text" id="Postalcode" placeholder="Postalcode">#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="card_info">#}
{#            <h3>Card information</h3>#}
{#            <div class = "input-container">#}
{#                <input class="form-control" type="text" id="Cardholder" placeholder="Cardholder">#}
{#                <input class="form-control" type="text" id="Cardnumber" placeholder="Cardnumber">#}
{#                <input class="form-control" type="text" id="Expiration date" placeholder="Expiration date">#}
{#                <input class="form-control" type="text" id="CVC" placeholder="CVC">#}
{#            </div>#}
{#        </div>#}
{#        <div>#}
{#            {% include 'cart/checkout_cart.html' %}#}
{#        </div>#}
{#    </div>#}
