
{% load static %}
<link rel="stylesheet" href="{%static 'css/cart/checkout_cart.css' %}"/>
<div class="checkout_cart_container">
    <div class="checkout_item_count" id="checkout_item_count">
    </div>
    <div class="checkout_header" id="checkout_header">
        <p>Item</p>
        <p>Amount</p>
        <p>Price</p>
    </div>
    <div class="checkout_items" id="checkout_items">

    </div>
    <div class="separated_price" id="separated_price">

    </div>
    <div class="checkout_total" id="checkout_total">

    </div>
</div>

