{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form id="payment_form" class="form form-horizontal" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="buttons" id="buttons">
        <form action="{% url 'cart-index' %}">
            <button type="submit" id="back_button" class="captain_button"> Back</button>
        </form>
        <input type="submit" id="next_button" class="captain_button_primary" value="Next"/>
    </form>


{#        <form action="{% url 'confirmation-index' %}" >#}
{#            <button type="submit" id="next_button" class="next_button"> Next</button>#}
{#        </form>#}


    </div>


    <script src="{%static 'js/localStorage.js' %}"></script>

{% endblock %}