{% extends 'base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{%static 'css/cart/confirm.css' %}"/>
    <script src="{%static 'js/localStorage.js' %}"></script>
    <h1>My order</h1>
    <p>Step 2 out of 2</p>

    <div class="confirm">
        <div class="delivery_info" id="delivery_info">
            <h3>
                Delivery Address
            </h3>

        </div>

        <div class="card_info" id="card_info">
            <h3>
                Card information
            </h3>

        </div>


    </div>

        <div class="buttons">
        <form action="{% url 'checkout-index' %}">
            <input type="submit" class="back_button" id="back_button_check" value="Back" />
        </form>

        <form action="{% url 'success-index' %}" method="post">{% csrf_token %}

            <input type="hidden" name="cart" id="hidden_cart">
            <button type="submit" id="confirm_button" class="confirm_button"> Confirm</button>
        </form>


        <script src="{%static 'js/localStorage2.js' %}"></script>

{% endblock %}