{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body onload="displayInCart()">
        <link rel="stylesheet" href="{%static 'css/cart/my_cart.css' %}"/>
        <h2>My Cart</h2>
        <div class="cart_div" id="cart_div">
            <div class="cart_header">
                <p>Item</p>
                <p>Amount</p>
                <p>Price</p>
            </div>
            <div class="cart_items" id="cart_items">
            </div>
        </div>

        <div class="buttons">
            <form action="{% url 'checkout-index' %}">
                <input type="submit" class="checkout_button" id="checkout_button" value="Checkout" />
            </form>
        </div>
</body>

{% endblock %}
