{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body onload="displayInCart()">
        <link rel="stylesheet" href="{%static 'css/cart/cart.css' %}"/>
        <h2>My Cart</h2>
        <div class="cart_div" id="cart_div">
            <div class="cart_header">
                <p>Item</p>
                <p>Amount</p>
                <p>Price</p>
            </div>
            <div class="cart_items" id="cart_items">
                <div class="cart_single_item">
                    <div class="name_cart"></div>
                    <div class="amount_cart"></div>
                    <div class="price_cart"></div>
                </div>
            </div>
        </div>

        <div class="buttons">
            <form action="{% url 'checkout-index' %}">
                <input type="submit" class="captain_button_primary" id="checkout_button" value="Checkout" />
            </form>
        </div>
</body>

{% endblock %}
