{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{%static 'css/item.css' %}"/>
    <h1>Consoles!</h1>
    <div class="input-group">
        {% include '../filter/search.html' %}
    </div>
    <div>
        <div class="items">
            {% for con in consoles %}
                {%  include 'consoles/single_console.html' with consoles=con %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="{% static 'js/consoles.js' %}"></script>
