.game-img {
    flex: 1 100%;
    position:relative;
    width: 100%;
}

.games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.well-game {
    width: 100px;
}

/* TODO: Make a hover edit for all games and consoles*/

.gameStyle {
    border: thin solid black;
}

.allGames {
    /*flex: auto;*/
    display:flex;
}

.scrollbox{
    border: 0.1rem solid black;
    border-radius: 1rem;
    height: 40rem;
}

.scroll{
    text-align: center;
    border-radius: .7rem;
    height: 38rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 1rem;
}