.item-img {
    flex: 1 100%;
    position:relative;
    width: 100%;
}

.group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*.item-detail-img {*/
/*    width:*/
/*}*/

.items {
    display: grid;
    /*grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.multiple-choice {
    border-color: black;
    border:solid;
    border-width: thin;
    padding:10px;
    border-radius: 15px;
}

.well-item {
    width: 200px;
    /*height:60%;
    object-fit: fill;*/
    border: none;
    background-color: white;
}

.view {
    border: none;
    background-color: white;
    padding:10px;
}

.view:hover {
    background-color: #C34AF520;
    box-shadow: 2px 2px 5px gray;
    border-radius: 15px;
}

/* TODO: Make a hover edit for all games and consoles*/

.gameStyle {
    border: thin solid black;
}

.allGames {
    /*flex: auto;*/
    display:flex;
}


.hide {
    display: none;
}

.scrollbox{
    border: 0.1rem solid black;
    border-radius: 1rem;
    height: 40rem;
}

.scroll{
    text-align: center;
    border-radius: .7rem;
    height: 38rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 1rem;
    flex: 1;
}

.dropbtn {
  background-color: #C34AF540;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Change visibility and size of for sale*/
.False {
    display: none;
}

.True {
    flex: 1 100%;
    position:relative;
    display: inline;
    max-width: 10%;
}

.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {
   content: "\2606";
   position: relative;
   visibility:visible;
}
.star:checked:before {
   content: "\2605";
   position: relative;
}