body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

html {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 35rem;
}

.captain_button {
    border-radius: 3rem;
    padding: 1rem;
    background-color: initial;
    width: 14rem;
}

.captain_button_primary {
    border-radius: 3rem;
    padding: 1rem;
    background-color: #5dbcd2c4;
    width: 14rem;
    margin-left: 2rem;
}
