.confirm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.delivery_info{
    display: flex;
    flex-direction: column;
}

.card_info{
    display: flex;
    flex-direction: column;
}

.checkout_cart_container{
    border: 0.1rem solid lightgray;
    border-radius: 2rem;
    padding: 3rem;
}

.checkout_item_count{
    font-weight: bold;
}

.checkout_header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cart_single_item{
    display: flex;
    flex-direction: row;

}