.confirm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.delivery_info{
    display: flex;
    flex-direction: column;
}

.card_info{
    display: flex;
    flex-direction: column;
}