{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/item.css' %}">
    <div class="scrollbox">
        <div class="scroll">
            <h1>{{ game.name }}</h1>
            <p>${{ game.price }}</p>
            <p>{{ game }}</p>
            <p>{{ game.description }}</p>
            <p id="amount_in_stock">{{ game.amount }}</p>
            {% for game_image in game.gameimage_set.all %}
                <img src="{{ game_image.image }}" class="game-img" alt="Picture not available"/>
            {% endfor %}
        </div>
        <div class="add_button" id="add_button_div">
            <form action="#">
            <button type="button" value="game_{{ game.id }}_{{ game.name }}" id="add_button_games" class="cart_buttons"> Add to cart</button>
        </form>
        </div>
    </div>

{% endblock %}