{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/item.css' %}">
    <p class="hide" id="hidden_view" name="view" >game_{{ game.id }}</p>
    <div>
        <div >
            {% for game_image in game.gameimage_set.all %}
                <img src="{{ game_image.image }}" class="item-detail-img" alt="Picture not available"/>
            {% endfor %}
        </div>
        <div>
            <h1>{{ game.name }}</h1>
            <p>${{ game.price }}</p>
            <img class="{{ game.onSale }}" src="https://w0.pngwave.com/png/252/114/sales-garage-sale-discounts-and-allowances-shopping-sale-sticker-png-clip-art.png"/>
            <p>{{ game.description }}</p>
            {% for em in game.emulator_set.all %}
                <iframe src="{{ em.emulator }}" class="emulator" width="600" height="450" frameborder="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
            {% endfor %}
        </div>
    </div>
    <div class="add_button" id="add_button_div">
        <form action="#">
            <button type="button" value="game_{{ game.id }}_{{ game.name }}_{{ game.price }}" id="add_button_games" class="cart_buttons"> Add to cart</button>
        </form>
    </div>
{% endblock %}