{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{%static 'css/game.css' %}"/>
    <h1>Games!</h1>
    <div class="input-group">
        {% include '../filter/search.html' %}
    </div>
    <div>
        <div class="multiple-choice">
            <div class="consoles" id="consoles">
                {% include '../filter/checklist.html' with group=consoles %}
            </div>
            <!--<div class="types" id="types">
            </div>-->
        </div>
        <div class="games">
            {% for game in indi_games %}
                {%  include 'games/single_game.html' with games=game %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
