{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{%static 'css/item.css' %}"/>
    <h1>Games!</h1>
    <p class="hide" id="hidden" value="games">games</p>
    <div class="group-above">
        <div class="input-group">
            {% include '../filter/search.html' %}
        </div>
        {% include '../filter/sort_by.html' %}
        <div class="on-sale">
            {% include '../filter/checklist.html' with group=on_sale %}
        </div>
    </div>
    <div class="group">
        <div class="multiple-choice">
            <div class="consoleCatG" id="consoleCatG">
                <h4>Console Categories</h4>
                {% include '../filter/checklist.html' with group=consoles %}
            </div>
            <div class="types" id="types">
                <h4>Game Type</h4>
                {% include '../filter/checklist.html' with group=types %}
            </div>
        </div>
        <div class="items">
            {% for game in indi_games %}
                {%  include 'games/single_game.html' with games=game %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
