{% load static %}
<link rel="stylesheet" href="{%static 'css/item.css' %}"/>
<div class="well-item" id="game">
    <form action="/games/{{ games.id }}" >
        <button class="view" id="view"  type="submit" value="game_{{ games.id }}">
            <img class="{{ games.onSale }}" src="https://w0.pngwave.com/png/252/114/sales-garage-sale-discounts-and-allowances-shopping-sale-sticker-png-clip-art.png"/>
            <img class="item-img" src="{{ games.gameimage_set.first.image }}" alt="No picture available" />

            <h4>{{ games.name }}</h4>
            <h4>${{ games.price }}</h4>
            <input type="checkbox" value="{{ games.id }}" class="star" name="star">
        </button>
    </form>

</div>
