{% load static %}
<link rel="stylesheet" href="{%static 'css/header.css' %}"/>
<div class="header">
    <div class="left-corner">
        <a href="{% url 'home-index' %}">
            <img src="{% static 'images/captain_icon.png' %}" class="img_captain" />
        </a>
        <a href="{% url 'home-index' %}">
            <div class="logo-title">
                <p>Captain Console</p>
            </div>
        </a>
    </div>
    <div class="right-corner">
        <div class="cart_img" >
            <form action="{% url 'cart-index' %}">
                <button id="cart_button" type="submit">
                    <p id="num_in_cart"> </p>
                    <img src="{% static 'images/colored_cart.png' %}" class="img_account" id="cart_img"/>
                </button>
            </form>
        </div>


        <div class="account">
            <div class="captain-userprofile">
                {% if user.is_authenticated %}
                    <a href="/account/{{ user.id }}"><img src="{% static 'images/account_icon.png' %}" class="img_account" /></a>
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <img src="{% static 'images/account_icon.png' %}" class="img_account" />
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>

    </div>
</div>
