.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.heading{
    display: flex;
    justify-content: center;
}

.text{
    display: flex;
    font-size: large;
    justify-content: center;
    text-align: center;
    margin-left: 40rem;
    margin-right: 40rem;
}